@model AluguelMaquinas.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}
<div>
    <h4 class="display-6 fw-bold">Cliente - Apagar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCobranca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCobranca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepCobranca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepCobranca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MunicipioCobranca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MunicipioCobranca)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a class="btn btn-primary my-2" asp-action="Index">Voltar</a>
    </form>
</div>
