@model AluguelMaquinas.Models.AluguelEquipamento

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4 class="display-6 fw-bold">Alocar Máquina/Equipamento - Apagar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluguel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluguel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipamento.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a class="btn btn-primary my-2" asp-action="Index">Voltar</a>
    </form>
</div>
